### Importing packages

In [3]:
import pandas as pd
import numpy as np

### Extracting all abbreviations + expansions from netlingo

In [67]:
from bs4 import BeautifulSoup
import requests, json
resp = requests.get("http://www.netlingo.com/acronyms.php")
soup = BeautifulSoup(resp.text, "html.parser")
slangdict= {}
key=""
value=""
for div in soup.findAll('div', attrs={'class':'list_box3'}):
    for li in div.findAll('li'):
        for a in li.findAll('a'):
            key =a.text
            value = li.text.split(key)[1]
            slangdict[key]=value

slangdict            

slangdict['pls'] = 'please'
slangdict['DM'] = 'Direct Message'


#with open('myslang.json', 'w') as f:
#    json.dump(slangdict, f, indent=2)

### Reading data

In [4]:
data = pd.read_csv("D:\\Praxis\\Capstone\\data\\data_for_labeling.csv")
data.sample(5)

,Unnamed: 0,tweet_id,tweet_content
1089,1089,1.320000e+18,@swaethony i made it ðŸ™ˆ
3355,3355,1.320000e+18,"Again, we have to make lives unbearable for ev..."
2412,2412,1.320000e+18,A Michigan appeals court has ruled that absent...
3781,3781,1.320000e+18,"Going to stream the game from my phone, see yo..."
1130,1130,1.320000e+18,"This morning we had a RECORD 140,000 knot at @..."

### Taking a sample to test if code works

In [71]:
df = data.sample(5)

In [72]:
df = data.sample(5)
for index, row in df.iterrows():
    print(row['tweet_content'])
    #for word in (row['tweet_content']):

I was fuckin banned for saying kneegro. Bitch ass app really banned my black ass for saying kneegro. Iâ€™m back now tho u cuck bitch ass niggas. Fucka Twitter. Someone can literally have their whole ass spread open on the TL but kneegro?! Over the line
Azerbaijanis living in #London honored the victims of Ganja attack by putting flowers in front of the Embassy of #Azerbaijan in the #UK. Toys and teddies have been put as well in the memory of kids killed as a result of Armenia's STUD missile attack on Ganja city. https://t.co/ydPlb3vS2y
"The safety of all involved can easily be achieved without canceling a chance for voters to see both candidates go head to head," Trump campaign manager Bill Stepien, who has also tested positive for coronavirus, says of CPD to hold virtual debate.
We're increasing our 2020 Ad Grants commitment to offer a total of $1B to support nonprofits that are tackling pressing issues, from COVID-19 response &amp; recovery to fighting poverty and injustice around the world. https://t.co/ukvKAsOICQ
An ambitious operation is underway!
With Operation Flying Rhino, 114 white rhinos and 10 black rhinos are being translocated to a new safe home in a secret location. Watch Rhino Week today at 6 PM, only on Animal Planet.
#Rhinoweek https://t.co/DiVv5JwXuy

### Taking a copy

In [77]:
import copy
df1 = df.copy()

### Changing all abbreviations in our dataframe

In [78]:
for index, row in df1.iterrows():
    word_list = []
    word_list = row['tweet_content'].split()
    print(word_list)
    for i in range(0,len(word_list)):
        if word_list[i] in slangdict.keys():
            word_list[i] = slangdict[word_list[i]]
    
    separator = ' '
    separator = (separator.join(word_list))
    df1.loc[index ,"tweet_content"] = separator
    
df1    
    #for word in (row['tweet_content']):

['I', 'was', 'fuckin', 'banned', 'for', 'saying', 'kneegro.', 'Bitch', 'ass', 'app', 'really', 'banned', 'my', 'black', 'ass', 'for', 'saying', 'kneegro.', 'Iâ€™m', 'back', 'now', 'tho', 'u', 'cuck', 'bitch', 'ass', 'niggas.', 'Fucka', 'Twitter.', 'Someone', 'can', 'literally', 'have', 'their', 'whole', 'ass', 'spread', 'open', 'on', 'the', 'TL', 'but', 'kneegro?!', 'Over', 'the', 'line']
['Azerbaijanis', 'living', 'in', '#London', 'honored', 'the', 'victims', 'of', 'Ganja', 'attack', 'by', 'putting', 'flowers', 'in', 'front', 'of', 'the', 'Embassy', 'of', '#Azerbaijan', 'in', 'the', '#UK.', 'Toys', 'and', 'teddies', 'have', 'been', 'put', 'as', 'well', 'in', 'the', 'memory', 'of', 'kids', 'killed', 'as', 'a', 'result', 'of', "Armenia's", 'STUD', 'missile', 'attack', 'on', 'Ganja', 'city.', 'https://t.co/ydPlb3vS2y']
['"The', 'safety', 'of', 'all', 'involved', 'can', 'easily', 'be', 'achieved', 'without', 'canceling', 'a', 'chance', 'for', 'voters', 'to', 'see', 'both', 'candidates', 'go', 'head', 'to', 'head,"', 'Trump', 'campaign', 'manager', 'Bill', 'Stepien,', 'who', 'has', 'also', 'tested', 'positive', 'for', 'coronavirus,', 'says', 'of', 'CPD', 'to', 'hold', 'virtual', 'debate.']
["We're", 'increasing', 'our', '2020', 'Ad', 'Grants', 'commitment', 'to', 'offer', 'a', 'total', 'of', '$1B', 'to', 'support', 'nonprofits', 'that', 'are', 'tackling', 'pressing', 'issues,', 'from', 'COVID-19', 'response', '&amp;', 'recovery', 'to', 'fighting', 'poverty', 'and', 'injustice', 'around', 'the', 'world.', 'https://t.co/ukvKAsOICQ']
['An', 'ambitious', 'operation', 'is', 'underway!', 'With', 'Operation', 'Flying', 'Rhino,', '114', 'white', 'rhinos', 'and', '10', 'black', 'rhinos', 'are', 'being', 'translocated', 'to', 'a', 'new', 'safe', 'home', 'in', 'a', 'secret', 'location.', 'Watch', 'Rhino', 'Week', 'today', 'at', '6', 'PM,', 'only', 'on', 'Animal', 'Planet.', '#Rhinoweek', 'https://t.co/DiVv5JwXuy']

,Unnamed: 0,tweet_id,tweet_content
2374,2374,1.310000e+18,I was fuckin banned for saying kneegro. Bitch ...
201,201,1.320000e+18,Azerbaijanis living in #London honored the vic...
2250,2250,1.310000e+18,"""The safety of all involved can easily be achi..."
3192,3192,1.270000e+18,We're increasing our 2020 Ad Grants commitment...
168,168,1.310000e+18,An ambitious operation is underway! With Opera...